@media(max-width: 768px){
        
    .about-top-img {
        width: 100% !important;
    }    
    
	.gk-img, .gk-img-2 {
		display: none !important;
	}

	.gk-resp-img, .gk-resp-img-2 {
		display: block !important;
	}
    
    .gk-resp-img {
        width: 80% !important;
        margin-left: auto;
        margin-right: auto;
    }
    
    .h-love-img {
        margin-left: 0px !important;
    }
    
    .myth-border {
        margin-top: 10px;
    }
    
	.gallery-item {
		height: 566px;
	}

	/*.themes .vertical-item {*/
	/*	height: 432px !important;*/
	/*}*/

	.teaser br {
		display: none !important;
	}

	.teaser .teaser_icon {
		margin-top: 40px;
	}

	.teaser h6 {
		margin-bottom: 14px;
	}

	.contact-section {
		margin-top: -47px;
    	margin-bottom: 30px;
	}

	.contact-section-2 {
    	margin-bottom: 30px;
	}
	a.social-icon + a.social-icon,
.tooltip + a.social-icon {
	margin-left: 5px;
}
	.intro_section h2 {
	    font-size: 27px;
	    margin-bottom: 25px;
	    margin-top: 10px;
	}
	.logo_text {
	    margin-top: 1px;
	    font-size: 29px;
	}
	.logo img {
	    max-width: 45px;
	}
	.logo_text small {
	    margin-left: 6px;
	}
	.header_left_logo {
	    padding: 5px 17px !important;
	}
	.side-item .sub-event-scheduling .scheduling-items-content {
    	padding: 40px 20px !important;
	}
	.sub-event-scheduling .scheduling-items-content{
		position: unset !important;
	}
	.event-scheduling-section img {
    	width: 100% !important;
	}
	.sub-event-scheduling {
    	margin-left: 0px !important;
	}
	.nav-tabs > li > a {
	    padding: 18px 6px;
	}
	.owl-theme .owl-nav {
    	top: 25% !important;
	}
	.with_border .custom-entry-thumbnail{
     	margin-top: 0px !important;
	}
	.venture-article-section-last{
		margin-top: -13px !important;
	}
	.venture-article-section{
		margin-top: 28px !important;
	}
	.venture-article-sections{
		margin-top: 17px !important;
	}
	.venture-program-section{
		padding-top: 0px;
	}
	.partner-program-section{
		padding-top: 0 !important;
		padding-bottom: 0 !important;
	}
	.social-coaching-section{
		padding-bottom: 15px;
		padding-top: 15px;
	}
	.yourself-coaching-section{
		padding-bottom: 50px;
	}
	.organisational-heading p{
		padding-bottom: 10px !important;
	}
	.sub-organisational-heading{
		padding-top: 0px;
		padding-bottom: 30px;
	}
	.organisational-coaching-section .organisational-heading{
		width: 60%;display: inline-block;padding-bottom: 40px;
	}
	h3.sub-heading{
		font-size: 25px !important;
	}
	p.sub-heading-para{
		width: 100% !important;
	}
	.custom-embed-placeholder:after {
    	top: 57% !important;
	}
	.empower-yourself-coaching a img {
    	width: 100%;
	}
	.individual-coaching-section p{
		width: 100%;
		text-align: center !important; 
	}

	#response-about { text-align: center !important; line-height: 1.5}

	.individual-coaching-section h3{
		margin-top: 40px;
	}
	.custom-embed-responsive-3by2 {
     	padding-bottom: 80.666% !important;
	}
	.work-history-section{
		padding-bottom: 0px;
	}
	.completetion-year-section{
		padding-bottom: 60px !important;
	}
	.completetion-year{
		padding-top: 0px !important;
	}
	.connect-withus-btn{
		display: block !important;
	}
	.responsive-social-icons{
	display: block !important;
	}
	.close-icon-btn{
	position: absolute;
	right: 13px;
	top: -35px;
	}
	.serach-input-responsive{
		margin-top: 35px !important;
		padding: 15px;
	}
	.testim .cont div p {
    font-size: 18px !important;
    line-height: 30px;
    width: 100% !important;
 	}
 a.member-photo img {
    margin-bottom: 26px !important;
    margin-left: 22px;
 	}
 .columns_padding_2 [class*="col-"] {
     padding-left: 0px !important;
     padding-right: 0px !important;
	}
	h2.section_header:last-child {
    margin-bottom: 0px;
    font-size: 25px;
    text-align: center;
	}
	h4.coaching-methodologies{
		font-size: 17px;
		font-family: 'Lora', serif !important;
    	font-style: italic !important;
	}
	/*[class*="col-"] {
    margin-bottom: 30px !important;
	}*/
	.coaching-section {
    padding-top: 50px !important;
	}
	.coaching-methodologie-section{
	margin-top: 0px !important;
	}
	.coaching-content{
	padding-bottom: 0px !important;
	}
	.items-content {
    padding: 30px;
    top: 0;
   }
   .items-content h2 {
    color: #fff;
    font-size: 30px;
	}
	.custom-gallery-items {
    height: 310px;
    margin-bottom: 25px;
	}
	.custom-gallery-items1 {
    height: 310px;
	}
	.columns_padding_2 [class*="col-"]{
	padding-bottom: 0px !important;
	}
	.item-media {
     margin-bottom: 25px !important;
	}
	.member-info h5 {
    margin-top: -17px !important;
	}
	h2.section_header.color4 {
    font-size: 30px !important;
    text-align: center;
	}
	.hollistic-content {
    text-align: justify;
	}

	#testim-content p { font-size: 20px !important }
	.member-photo-user img{
	margin-left: 32px !important;
	width: 260px;
	height: 260px;
	border-radius: 100%
	}
	/*.Related-post-section{
		padding-top: 30px !important;
	}*/
	.posts-section{
		margin-left: 12px !important;
	}
	.teaser.counter-background-teaser {
    padding: 26px 25px 40px;
	}
	.testimonial-section2 {
    padding: 0px 0px !important;
	}
	.inline-list {
    list-style: none;
    margin: 0 -13px;
    /*float: left !important;*/
    padding: 0 12px;
	}


	.high-level-collection-page .sort-products-wrapper {
    	height: 90px !important;
	}
	.high-level-collection-page .sort-products-wrapper {
	    background-color: #f5f5f5;
	    height: 120px;
	    width: 100%;
	    justify-content: center;
	    align-items: center;
	}
	.page-flex {
	    display: flex;
	    flex-wrap: wrap;
	}
	.high-level-collection-page .sort-products-by-type {
	    font-size: 11px !important;
	    width: 100%;
	    text-align: center;
	    margin-bottom: -15px;
	}
	.high-level-collection-page .sort-products-by-type {
	    font-size: 13px;
	    font-weight: 600;
	    font-family: "Proxima Nova","Helvetica",sans-serif;
	    letter-spacing: 1px;
	    text-transform: uppercase;
	    color: #000000;
	    margin: 0 12.5px;
	}
	.high-level-collection-page .sort-products-icon {
    	padding-right: 10px;
	}
	.high-level-collection-page .sort-products-link span:not(.sort-products-icon) {
    	display: none;
	}
	.desktop-content-categorization{
		display: none;
	}
	.responsive-content-categorizations{
		display: block;
	}
	.content-schedule-program{
		background-image: url(../images/health.jpg),linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
	    height: 220px;
	    width: 100%;
	    position: relative;
	    background-blend-mode: overlay;
	    background-repeat: no-repeat;
	    background-position: 50% 50%;
	    background-size: cover;
	}
	.content-schedule-program1{
		background-image: url(../images/photo.jpg),linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
		height: 220px;
	    width: 100%;
	    position: relative;
	    background-blend-mode: overlay;
	    background-repeat: no-repeat;
	    background-position: 50% 50%;
	    background-size: cover;

	}
	ul.footer-sub-link-custom{
		margin-top: -41px;
	}
	.contact-form-submit button{
		margin-bottom: 30px !important;
	}
	.entry-header {
     	margin-bottom: 0px;
	}
	h3.responsive-sub-heading-cus{
		font-size: 25px !important;
	}
	h4.social-coaching-custom{
		margin-top: 33px !important;
	}
	.individual-coaching-section .container{
		padding-top: 0px;
	}
	.completetion-year-section img{
		width: 100%;
		margin-left: 0px;
	}
	.work-history-section .container{
		padding-bottom: 0 !important;
	}
	.bg_teaser {
    	background-position: 70% 0;
	}

	.client-p { text-align: center; }
	.contact-p { text-align: center; }
	.soft-shadow p ,.soft-shadow h4, .coaching-p { text-align: center; }
	.partner-p, .schedule-p { text-align: justify; }
	.about-name , .div2-h4 { text-align: center; }

}



